.custom-btn{

    background-color: #48a870;
    padding :10px 20px ;
    border: none;
    color: white;



}

nav ul {

    display: flex;
    list-style-type: none;
    align-items: center;
  justify-content: space-between;
}

.menu-bar li , .menu-bar button {
    border-bottom: 3px solid green;
    font-weight: 80px;
    margin-right:50px;
    padding: 10px;

  }
  .banner-section{

    margin: 50px 10px;
    border : 2px solid red;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
  }
  
  .child{

    border: 2px solid green;
    margin: 10px;
  }

  .blank{

    border: 2px solid #48a870;
    color: #48a870;
  }
  
  .btn {
    padding :10px 20px ;

  }

  .banner-text{


    display: flex;
    justify-content: center;
    align-items: center;
  }
